# Database
# For local development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/welfare_ops?schema=public"

# For Docker
# DATABASE_URL="postgresql://postgres:postgres@postgres:5432/welfare_ops?schema=public"

# Node Environment
NODE_ENV="development"
